@model IEnumerable<RentACar.Models.Customer>
@{
    ViewBag.Title = "ReadOnlyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">

<h2 class="firstTitle mt-3 mb-3">Customers</h2>

<div>
    <table id="customers" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Driver License Number</th>
            </tr>
        </thead>
    </table>
</div>


@section scripts
{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    "url": "/Customers/GetData",
                    "dataSrc": ""
                },
                columns: [
                    { "data": "Name" },
                    { "data": "DriverLicNo" }
                ],
                "language": {
                    "emptyTable": "No data found"
                }
            });
        });
    </script>
}