@model IEnumerable<RentACar.Models.Rental>
@{
    ViewBag.Title = "ReadOnlyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.datatables.css">*@

<h2 class="firstTitle mt-3 mb-3">Rentals</h2>

<div>
    <table id="rentals" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Date Rented</th>
                <th>Date Returned</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>*@

    <script>
        $(document).ready(function () {
            var table = $("#rentals").DataTable({
                ajax: {
                    "url": "/Rentals/GetData",
                    "dataSrc": ""
                },
                columns: [
                    { "data": "Name" },
                    { "data": "Manufacturer" },
                    {
                        "data": "DateRented",
                        "render": function (data) {
                            return moment(data).format('MM/DD/YYYY')
                        }
                    },
                    {
                        "data": "DateReturned",
                        "render": function (data) {
                            return moment(data).format('MM/DD/YYYY')
                        }
                    },
                ],
                "language": {
                    "emptyTable": "No data found"
                }
            });
        });
    </script>
}